.verticals-section {
    padding: 40px 0;
  }
  
  .verticals-section img {
   height: 250px;
   width: 350px;
    margin-bottom: 20px;
  }
  
  .verticals-section h2 {
    font-size: 2.5rem;
    margin-bottom: 10px;
  }
  
  .verticals-section p {
    font-size: 1.2rem;
    margin-bottom: 40px;
  }
  
  .verticals-section h3 {
    font-size: 1.8rem;
    margin-top: 10px;
  }
  
  